<h1>Daily Pizza Flavors</h1>
<p>
  These should match
  <a href="<%= TodaysPizzaWeb.PageController.cheeseboard_url() %>">
    the Cheese Board page
  </a>
  .
</p>
<%= for [date, topping] <- @dates_and_toppings do %>
  <p>
    <b><%= date %></b>:
    <span><%= topping %></span>:
  </p>
<% end %>
